<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details du devis</title>
</head>
<style>
</style>
<body>
    <h3>Type de maison : {{ devis.getTypeMaison().getDesignation() }}</h3>
    <h3>Type de finition : {{ devis.getTypeFinition().getDesignation() }}</h3>
    <h4>Date de devis : {{ devis.getDateDevis()|date('j F Y')|trans }}</h4>
    <h4>Date de debut des travaux : {{ devis.getDateDebutTravaux()|date('j F Y')|trans }}</h4>
    <h4>Date de fin des travaux : {{ devis.getDatefin()|date('j F Y')|trans }}</h4>
    <table border=1>
        <thead>
            <tr>
                <th>Designation du travail</th>
                <th>Quantite materiel</th>
                <th>Prix Unitaire</th>
                <th>Prix Total</th>
            </tr>
        </thead>
        <tbody>
           {% for details in devis.getDevisDetails() %}
                <tr>
                    <td>{{ details.getDesignationTravaux() }}</td>
                    <td style="text-align: right">{{ details.getQuantiteTravaux() }}</td>
                    <td style="text-align: right">{{ details.getPrixUnitaire()|number_format('2', ',', ' ') }}</td>
                    <td style="text-align: right">{{ details.getPrixTotal()|number_format('2', ',', ' ')  }}</td>
                </tr>
           {% endfor %}
                <tr>
                    <td>Finition</td>
                    <td colspan=3 style="text-align: right">{{ devis.getTypeFinitionValeur()|number_format('2', ',', ' ') }}</td>
                </tr>
        </tbody>
    </table>
    <hr>
    <h3>Total : {{ devis.getPrix()|number_format('2', ',', ' ') }}</h3>
</body>
</html>