{% extends 'admin/base.html.twig' %}

{% block title %}Devis index{% endblock %}

{% block body %}


    <div class="card">
        <div class="header">
            <h2>
                Liste des devis en cours
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date de devis</th>
                        <th>Date debut des travaux</th>
                        <th>Prix</th>
                        <th>% Paiement effectues</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for devi in devis %}
                        <tr>
                            <td>{{ devi[0].dateDevis ? devi[0].dateDevis|date('Y-m-d') : '' }}</td>
                            <td>{{ devi[0].dateDebutTravaux ? devi[0].dateDebutTravaux|date('Y-m-d') : '' }}</td>
                            <td>{{ devi[0].prix|number_format(2, ',', ' ') }} Ar</td>
                            <td>{{ devi.pourcentage_paye|number_format(2, ',', ' ') }} %</td>
                            <td>
                                <a href="{{ path('app_devis_details', {'id': devi[0].id}) }}"><button class="btn bg-green waves-effect">Details</button></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Vous n'avez pas encore de devis actuellement</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
