{% extends 'admin/base.html.twig' %}

{% block title %}Devis index{% endblock %}

{% block body %}


    <a href="{{ path('app_paiement_devis_index', {'id': devis.getId()}) }}"><button class="btn bg-cyan waves-effect">Voir les paiements effectues</button></a>

    <div class="card">
        <div class="header">
            <h2>
                Details du devis
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Type travaux</th>
                        <th>quantite</th>
                        <th>Prix unitaire</th>
                        <th style="text-align: right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for details in devis.getDevisDetails() %}
                        <tr>
                            <td>{{ details.getDesignationTravaux }}</td>
                            <td>{{ details.getQuantiteTravaux()|number_format(2, ',', ' ') }}</td>
                            <td style="text-align: right">{{ details.getPrixUnitaire()|number_format(2, ',', ' ') }} Ar</td>
                            <td style="text-align: right">{{ details.getPrixTotal()|number_format(2, ',', ' ') }} Ar</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun detail a afficher</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td>Finition : {{ devis.getTypeFinition().getDesignation() }}</td>
                            <td>1</td>
                            <td style="text-align: right">{{ devis.getTypeFinitionValeur()|number_format(2, ',', ' ') }} Ar</td>
                            <td style="text-align: right">{{ devis.getTypeFinitionValeur()|number_format(2, ',', ' ') }} Ar</td>
                        </tr>
                        <tr>
                            <td><strong>Total</strong></td>
                            <td colspan=3 style="text-align: right"><strong>{{ devis.getPrix()|number_format(2, ',', ' ') }} Ar</strong></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
