{% extends 'base.html.twig' %}

{% block title %}New Paiement{% endblock %}

{% block body %}

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="card">
            <div class="header">
                <h2>
                    Insertion
                </h2>
            </div>
            {{ form_start(form) }}
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="dateDevis">Montant</label>
                                    <input type="text" name={{ field_name(form.montant) }} id="dateDevis" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="dateDevis">Date de paiment</label>
                                    <input type="date" name={{ field_name(form.datePaiement) }} id="dateDevis" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-warning btn-lg">{{ button_label|default('Payer') }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    {# <h1>Create new Paiement</h1> #}

    {# {{ include('paiement/_form.html.twig') }} #}

    <a href="{{ path('app_devis_index') }}"><button class="btn btn-info">retourner vers la liste</button></a>
{% endblock %}
