{% extends 'base.html.twig' %}

{% block title %}Type de maison existants{% endblock %}


{% block body %}
<style>
    .mycard{
        border-radius : 20px;
        transition: transform 0.3s ease
    }
    .mycard:hover{
        transform: scale(1.05);
    }
    body{
        background-image: url({{ asset('images/8-800x533-s8.jpg') }});
        background-size: cover;
    }
    a{
        color: black;
    }
    a:hover{
        text-decoration: none;
        color: black;
    }
    .btn{
        border-radius: 100px;
    }
</style>

    <div class="block-header">
        <h2>Creer votre devis a partir d'ici</h2>
    </div>

    <div class="row clearfix">
    {% for key, value in type_maisons %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card mycard">
                <div class="{{ value[1] }}">
                    <h2>
                        <strong>{{ value[0].designation|upper }}</strong>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    {{ value[0].description }}
                    </br>
                    <center><strong>Prix : </strong></center>
                    <center><h3 style="color : #714ed9" >{{ value[0].getPrixTotal()|number_format(2, '.', ' ') }} Ar</h3></center>
                    <br>
                </div>
            </div>
        </div>
    {% else %}
    <h1>Pas de maison a afficher pour le moment. Nos ingenieurs y sont dessus, revenez plus tard 😊</h1>
{% endfor %}
    </div>

    {# <h1>TypeMaison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_maison in type_maisons %}
            <tr>
                <td>{{ type_maison.id }}</td>
                <td>{{ type_maison.designation }}</td>
                <td>
                    <a href="{{ path('app_type_maison_show', {'id': type_maison.id}) }}">show</a>
                    <a href="{{ path('app_type_maison_edit', {'id': type_maison.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_maison_new') }}">Create new</a> #}
{% endblock %}
