{% extends 'base.html.twig' %}

{% block title %}TypeMaison{% endblock %}

{% block body %}
    <h1>TypeMaison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_maison.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ type_maison.designation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_maison_index') }}">back to list</a>

    <a href="{{ path('app_type_maison_edit', {'id': type_maison.id}) }}">edit</a>

    {{ include('type_maison/_delete_form.html.twig') }}
{% endblock %}
